<h1 class="block text-center mb-3"> {{title}}</h1>

<form method="post" action="/new" class="gap-2 border p-3 rounded">
    <input required name="messageText" type="text" class="form-control mb-3" placeholder="Write message...">
    <input required name="messageUser" type="text" class="form-control mb-3" placeholder="Write your name...">
    <input type="submit" class="btn btn-primary mb-3 block" value="Send">
</form>